
body{
    margin: 0 auto;
}
.hero-section{
    height: 100vh;
    background-color: rgba(58, 10, 10, 0.6);
    width: 0 auto;         
}
.hero-section img{
    object-fit: cover;
    height: 100vh;
    width: 99vw;
    z-index: -10;
    position: absolute;
    padding-right: -10px;
    
}
.site-detail{
    margin-left: 10px;
}
nav{
    display: flex;
    justify-content: space-between;
    color: white;
}
.section-details{
    margin: 40px;
}
.section-details > a{
    justify-content: space-between;
    margin:20px ;
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    border-radius: 4px;       
}
span{
    color: white;
    border-radius: 4px;
    background-color: red;
    padding: 6px;  
}
.heading{
    margin: 44px;
    font-size: 21px;
    font-weight: bold;
    margin-top: 40px;
}

.left{
    color: white;
    width: 30%;
    margin: 40px;
    font-size: 15px;
    margin-top: 62px;    
}

.left-side{
    color: white;
    width: 35%;
    margin: 40px;
    font-size: 20px;
    margin-top:170px;
}
.satisfaction{
    height: 318px;
    width: 275px;
    color: white;
    background-color: rgba(15, 1, 1);
    position: absolute;
    bottom: 23px;
    right: 36px;
    align-items: left;
    border-radius: 8px;
    padding: 25px;
    
}

hr {
    margin-top: 50px; 
    margin-right: 25px; 
}
.left-side>p{
    font-size: 18px;
    font-weight: normal;
    margin-top: 65px;
    bottom: 30px;

}
.images{
    display: flex;
    z-index: 10p;
}

.d{
  height: 60px;
  width: 60px;
  border: 2px solid white;
  border-radius: 100%;
  z-index: 1;
}

.d1{
    border: 2px solid white;
    border-radius: 100%;
    margin-left: -6px;
    height: 60px;
    width: 60px;  
    z-index: 1;
}
.d2{
    border: 2px solid white;
    border-radius: 100%;
    margin-left: -6px;
    height: 60px;
    width: 60px;
    z-index: 1;
}
.d3{
    border: 2px solid white;
    border-radius: 100%;
    margin-left: -6px;
    height: 60px;
    width: 60px;
    z-index: 1;
}

.d img{
  height: 60px;
    width: 60px;
    border-top-left-radius: 100%;
    border-bottom-left-radius: 100%;
    border-top-right-radius: 100%;
    border-bottom-right-radius: 100%;
    z-index: 10;   
   
}
.d1 img{
    height: 60px;
    width: 60px;
    border-top-left-radius: 100%;
    border-bottom-left-radius: 100%;
    border-top-right-radius: 100%;
    border-bottom-right-radius: 100%;
    z-index: 1;      
}
.d2 img{
  height: 60px;
    width: 60px;
    border-top-left-radius: 100%;
    border-bottom-left-radius: 100%;
    border-top-right-radius: 100%;
    border-bottom-right-radius: 100%;
    z-index: 1;     
}
.d3 img{
  height: 60px;
    width: 60px;
    border-top-left-radius: 100%;
    border-bottom-left-radius: 100%;
    border-top-right-radius: 100%;
    border-bottom-right-radius: 100%;
    z-index: 1;
}
.text{
    margin-left: 5px;
    padding-top: 10px;
    font-weight: bold;
}
.text h1{
    font-size: 15px;
    margin-top: 10px;
    font-weight: 10;
}
.text p{
    width: 70%;
    margin-top: 65px;
    font-size: medium;
    font-weight: normal;
}        
#left{
    float: left;
    margin-right: 17px;
    margin-top: 60px;
    font-size: 25px;
}
#right{
    float: right;
    margin-top: 65px;
    font-weight: bold;
}
#right span{
    color: black;
    border-radius: 4px;
    background-color: white;
    padding: 6px;  
}

/* ----------------------------------------------- About section -------------------------------------------------*/


.about-left-part{
display: flex;
justify-content: space-between;
padding: 0px;
margin-top: 80px;  
max-width: 1200px;
margin: 0 auto; 
}
.about-left-part h2{
margin: 30px;
margin-top: 18px;
}
.about{
display: flex;
justify-content: end; 
font-weight: normal; 
font-size: .8rem; 
}
.about h2{
margin-left: -20px;
}
.about h3{
margin-right: 95px;
margin-left: -20px;
font-size: 1.1rem;
margin-top: 18px;
}
.about-left-part p{
width: 80%;
color: grey;
}
.about-left-part img{
margin-top: 20px;
}
.about-left-part button{
border-radius: 20px;
background-color: black;
border: 4px solid;
padding-left: 20px;
padding-right: 20px;
padding-top: 8px;
padding-bottom: 8px;
font-weight: bold;
}

.arrow img{
height: 45px;
margin-top: 15px;
border-radius: 100%;
border: 1px solid; 
/* margin-left: 60px;  */
justify-content: center;
background-color: rgb(240, 234, 234);

}
.arrow{
padding: 20px;
justify-content: center;
margin-left: -40px;
/* margin-right: 60px; */
}
.about-feature-part{
display: grid;
padding: 0px;
grid-template-columns: 1fr 1fr ;
grid-template-rows: 1fr 1fr ;
row-gap: 10px;
justify-content: space-between;
margin-right: 40px;
max-width: 1200px;
margin: 0 auto;

}
.about-arr h1{
width: 80%;

}
.about-feature-part p{
width: 110%;
color: grey;
margin-top: 0px;
justify-content: space-between;

}
.about-feature-part h2{
margin-top: 55px;
}
.about-feature-part hr{
margin-top: -10px;
}
.about-arr{
display: flex;
justify-content: space-between;
max-width: 1200px;
margin: 0 auto;

}
.about-arr img, .about-arr h1{

margin-top: 345px;
}
.about-arr img{
margin-top: 325px;
}


button{
color: white;
padding-left: 9px;
padding-top: 2px;
padding-bottom: 2px;
padding-right: 9px;

}
.about-feature-part hr{
width: 100%;
}
/* --------------------------------------------------Gallery---------------------------------------------------------------- */


.section-gallery{
display: flex;
padding: 0px;
justify-content: space-between;
max-width: 1200px;
margin: 0 auto;

}
.gallery-lower h4, .gallery-lower p{
margin-top: 5px;
}
.gallery-lower p{
margin-top: -15px;

}
.gal1{
padding: 10px;
display: flex;
margin-top: 0px;
/* margin-left: 10px; */
font-weight: normal;
margin-left: -25px;
font-size: .8rem;

}

.gal2{
display: flex;
justify-content: space-between;
max-width: 1200px;
margin: 0 auto;

}
.gal3{
margin-left: 245px;
margin-top: 10px;
margin-right: 60px;

}

.gal3 >a{
    height: 55px;
    width: 55px;
    border-radius: 100%;
    align-items: center;
    background-color: white;
    display: inline-flex;
    justify-content: center;
    border: 1.5px solid gray;
    margin-left: 10px;
    background-color: #f8f8f8;
}

.middle-upper button{
 border-radius: 15px;
  background-color: #faf9f9;
  border: 1px solid;
  margin-left: 2px;
  justify-content: end;
  border:1px solid rgb(190, 187, 187);
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 13px;
  padding-right: 13px;
 
}
.middle-upper{
/* margin-left: -250px; */
margin-top: 10px;
width: 25%;
margin-right: 50px;


}
.buton{
color: black;
font-weight: bold;
display: inline-table;
margin: 8px;



}
.gallery-lower{
display: flex;
margin-left: 0px;
margin-top: 150px;
margin: auto;
justify-content: center;
}

.gallery-left-img {
height: 445px;
width: 340px;
background-color: gray;
margin-top: 50px;
margin-left: -20px;
 
}
.gallery-left-img h4{
margin-top: 460px;
font-size: 1.4rem;
}
.gallery-left-img p{
margin-left: 70px;
font-size: 1.1rem;
color: grey;
margin-top: -20px;
}
.gallery-right-img p{
margin-left: 67px;
font-size: 1.1rem;
color: gray;
margin-top: -20px;
}
.gallery-right-img h4{
margin-top: 380px;
font-size: 1.4rem;
}
.gallery-right-img{
height: 370px;
width: 340px;
background-color: gray;
margin-left: 205px;
margin-top: 50px;
}

.drag{
    height: 125px;
    width: 125px;
    border-radius: 100%;
    align-items: center;
    background-color: black;
    display: inline-flex;
    justify-content: center;
    color: white;
    margin-left: 180px;
    margin-top: 200px;
    font-size: 1.7rem;
}


/*------------------------------------------------service section------------------------------------------------- */

.service-section{
display: flex;

justify-content: space-around;
max-width: 1200px;
margin: 0 auto;
margin-top: 200px;

}

.service {
display: flex;
justify-content: space-between;
margin-right: 30px;
}

.service2 hr{
margin-top: 15px;
margin-right: 30px;
height: 1px;
background-color: #d8d8d8d8;
border: none;
}
.service img{
margin-top: 20px;
margin-left: 410px;
justify-content: space-between;
height: 35px; 
width: 35px; 
border: 1px solid rgb(213, 210, 210);
border-radius: 100%;
padding: 10px;
background-color: #faf8f8d8;
}
#service1{
font-weight: normal;
margin-top: 2px;
margin-left: -13px;
font-size: .9rem;
}
#service1 h2{
margin-top: 35px;
margin-right: 35px; 
margin-left: 0px;  
}
.service2{
margin-left: 80px;
justify-content: center; 
}
.service2 h1{
font-size: 2.5rem;  
}
.service2 button{
border: .01px solid rgb(176, 173, 173);
color: black;
font-size: 12px;
font-weight: bold;
border-radius: 10px;
background-color: rgb(242, 242, 242);
padding-left: 25px;
padding-top: 9px;
padding-right: 25px;
padding-bottom: 9px;
border-radius: 25px;
margin-right: 10px;
}
#all{
background-color: black;
color: white;
padding-left: 25px;
padding-top: 9px;
padding-right: 35px;
padding-bottom: 9px;
border-radius: 35px;
margin-right: 10px;
}
.service-image{
display: flex;
margin-top: 40px;
justify-content: center;  
}
.lower-service{
height: 250px;
width: 530px;
background-color: rgb(72, 63, 63);
margin-left: 50px;
color: white;
}

.lower-service p{
margin-left: 15px;
margin-right: 96px;
font-size: 1.1rem;
}
.lower-service-right{
height: 250px;
width: 632px;
background-color: rgb(229, 226, 226);
margin-left: 22px;
display: flex;
}
.service-border-part img{
border-radius: 100%;
margin-top: 114px;
margin-right: 15px;
}
.service-border-part{
display: flex;
justify-content: space-between;
}
.service-border-part h1{
margin: 10px;
margin-top: 125px;
font-size: 30px;
color: white;
margin-left: 15px;
}
.lower-service-right img{
margin-top: -20px;
margin-left: -111px;
}
.last-part{
display: flex;
}
.last-part img{
height: 30px;
border-radius: 100%;
background-color: white;
margin-top: 10px;
border: .05px solid gray;
margin-left: -70px;
}
.last-sec{
margin-left: -30px;
margin-top: -10px;
font-size: 1.2rem;
}
.last-sec h5{
font-size: 1.1rem;
margin-right: 6px;
}
.last-sec p{
font-size: 9px;
color: gray;
font-size: .8rem;
}
.service h4{
margin-top: 40px;
font-size: 1.1rem;
width: 500px;  
}
.ser-doc img{
margin-left: -135px;
}



/* ---------------------------------------------------------section doctor--------------------------------------------- */

.doctor-upper{
margin: 20px;
display: flex;
margin-left: 40px;
max-width: 1200px;
margin: 0 auto;
margin-top: 100px;

}

.ar{
border: 1px solid rgb(212, 211, 211);
align-items: center;
border-radius: 100%;
height: 130px;
width: 130px;
background-color: #f9f9f9d8;
/* margin-top: 20px; */
display: inline-flex;
justify-content: center;
margin-left: -150px; 
margin-top: 6px;
/* margin-right:50px ; */

}

.doc-middle{
display: flex;
margin-left: 10px;


}
.lower-doc{
display: flex;
margin-left: 180px;
margin-top: 30px;
justify-content: center;


}

.lower-doc img{
height: 342px;
width: 478px;
background-color: rgb(243, 245, 246);
margin-left: 0px;
/* width: 150x; */

}
.im{
margin-left: 20px;
height: 0px;
}
.lower-doc p{
margin-top: -10px;
color: grey;
font-size: 1.2rem;
}
.doc-middle h1, .doc-middle p{
margin-left: 100px;
margin-right: 290px;
width: 35%;
justify-content: start;

}
.doc-middle h1{
width: 30%;
font-size: 2rem;
}
.doc-middle p{
width: 30%;
color: grey;
}

.lower-doc button{
border: .01px solid rgb(213, 208, 208);
color: black;
font-size: 12px;
font-weight: bold;
border-radius: 19px;
background-color: rgb(252, 252, 252);
display: inline-flex;
justify-content: center;
align-items: center;
padding-left: 18px;
padding-right: 18px;
padding-bottom: 8px;
padding-top: 8px;
margin-right: 10px;
margin-top: 13px;  


}

.upper-d{
margin-top: 10px;
font-weight: normal;
margin-left: 30px;
font-size: .9rem;
}
/* ------------------------------------------------section Review--------------------------------------------------- */

.Review{
display: flex;
margin: 20px;
margin-left: 40px;
max-width: 1200px;
margin: 0 auto;
margin-top: 100px;
}
.all-doc{
border: 1px solid gainsboro ;
border-radius: 100%;
height: 130px;
width: 130px;
margin-top: 11px;
display: inline-flex;
justify-content: center;
align-items: center;
margin-left: -215px;
background-color: rgb(246, 246, 246);
}
.text-rev h4{
font-style: italic;
margin-right: 290px;
}
.text-rev h6{
margin-top: -15px;
font-weight: lighter;
color: grey;
}
.text-rev p{
font-weight: bold;
}

.mark{
height: 50px;
width: 50px;
border: 1px solid rgb(224, 219, 219);
border-radius: 100%;
align-items: center;
display: inline-flex;
justify-content: center;
background-color: rgb(255, 255, 255);
margin-top: 6px;
margin-left: 35px;
}
.imag-rev{
justify-content: end;
}
.imag-rev img{
height: 110px;
width: 110px;
border: 1px solid rgb(167, 166, 166);
border-radius: 100%;
align-items: center;
display: inline-flex;
justify-content: center;
background-color: rgb(203, 197, 197);
margin-top: 0px;
margin-left: 215px;

}
.rev-lower{
display: flex;
margin-left: 100px;
max-width: 1200px;
margin: 0 auto;
}
.text-rev{
margin-left: 50px;
font-size: 1.5rem;
}
.left-rev{
margin-left: 50px;
margin-right: -240px;

}
.upper-text{
margin-left: 120px;
margin-right: 10px;
margin-top: 10;
}
.upper-text h1, .upper-text p{
margin-right: 500px;   
}
.upper-text h1{
font-size: 2rem;
}
.upper-text p{
font-size: 1.2rem;
width: 40%;
}

.rev{
margin-top: 15px;
font-weight: normal;
margin-left: 30px;
font-size: .8rem;
}
.upper-text p{
margin-top: -10px;
color: grey;

}
.all-doc span{

border-radius: 0px;
color: black;
padding: 0px;  
background-color: rgb(244, 244, 244);
margin-top: 15px;
}

/* --------------------------------------------section-appointment----------------------------------------------------- */

.appointment{

width: auto;
background-color: rgb(45, 55, 113);
padding-bottom: 20px;
}

.appo-upper{
display: flex;
margin: 20px;
color: white;
justify-content: center;
max-width: 1200px;
margin: 0 auto;
font-size: 1.3rem;

}
.appo-upper h2{
width: 50%;
}
.appo-text{
margin-top: 10px;
margin-left: 60px;
width: 50%;
}
.appo-img{
margin-top: 38px;
margin-left: -450px;
}
.appo-middle{
display: flex;
justify-content: center;
/* margin-left: -370px; */
margin-right: 180px;
max-width: 1200px;
margin: 0 auto;
margin-top: 40px;
}
.about-self{
margin-left: -60px;


}
.self1{
margin-bottom: 15px;
font-size: large;
font-weight: normal;
color:white;
margin-left: 190px;
}
.self{
margin-bottom: 15px;
font-size: larger;
font-weight: normal;
color:white;
margin-left: 198px;
}
.appo-name{
border: 1px solid #090948;
border-radius: 25px;
padding-right: 28px;
padding-left: 25px;
padding-top: 5px;
padding-bottom: 5px;
color: aliceblue;
background-color: #090948;
font-size: large;
display: inline-flex;
justify-content: start;
align-items: center;
margin-left: 190px;


}
.appo-num{
border: 1px solid #090948;
border-radius: 25px;
padding-right: 20px;
padding-left: 11px;
padding-top: 5px;
padding-bottom: 5px;
color: aliceblue;
background-color: #090948;
font-size: large;
display: inline-flex;
justify-content: center;
align-items: center;
margin-left: 18px;
margin-top: 38px;
}
.appo-email{
border: 1px solid #090948;
border-radius: 25px;
padding-right: 20px;
padding-left: 25px;
padding-top: 5px;
padding-bottom: 5px;
color: aliceblue;
background-color: #090948;
font-size: large;
display: flex;
justify-content: center;
align-items: center;
margin-top: 21px;
margin-left: 18px;

}

.appo-spcl{
border: 1px solid #090948;
border-radius: 29px;
padding-right: 10px;
padding-left: 30px;
padding-top: 9px;
padding-bottom: 9px;
color: aliceblue;
background-color: #090948;
font-size: large;
margin-left: 183px;
margin-top: 20px;
display: flex;
justify-content: center;
align-items: center;

}
.appo-spcl p{
margin-bottom: 5px;
margin-top: 0px;
font-size: 20px;
margin-left: 230px;
margin-right: 5px;
font-weight: bold;
font-size: x-large;


}
.appo-date{
border: 1px solid #090948;
border-radius: 26px;
padding-right: 25px;
padding-left: 24px;
padding-top: 8px;
padding-bottom: 8px;
color: aliceblue;
background-color: #090948;
font-size: large;
margin-left: 183px;
margin-top: 22px;
display: flex;
justify-content: start;
align-items: center;


}
.appo-date p{
margin-bottom: 5px;
margin-top: 5px;
font-size: 20px;
margin-left: 120px;
font-weight: bold;
justify-content: center;

}
.appo-expert{
border: 1px solid #090948;
border-radius: 26px;
padding-right: -15px;
padding-left: 14px;
padding-top: 9px;
padding-bottom: 9px;
color: aliceblue;
background-color: #090948;
font-size: large;
margin-left: 15px;
margin-top: 42px;
display: flex;
justify-content: start;
align-items: center;

}
.appo-expert p{
margin-bottom: -2px;
margin-top: -2px;
font-size: 20px;
margin-left: 290px;
font-weight: bold;
padding-top: 3px;
padding-bottom: 3px;
justify-content: center;
font-size: x-large;

}
#time{
border: 1px solid #090948;
border-radius: 26px;
padding-right: 473px;
padding-left: 14px;
padding-top: 16px;
padding-bottom: 12px;
color: aliceblue;
background-color: #090948;
font-size: large;
display: inline-flex;
justify-content: center;
align-items: center;
margin-left: 15px;
margin-top: 25px;

}
.submit{
border: 1px solid white;
border-radius: 21px;
padding-left: 66px;
padding-top: 9px;
padding-bottom: 9px;
color: aliceblue;
background-color: #090948;
font-size: small;
margin-top: 40px;
margin-right: 320px;
margin-left: 186px;  
}
.submit button{
background-color: #090948;
border: #090948;
}

.n{

background-color: #090948;
border-radius: 12px;
border: 1px solid ;
color: white;
margin-left: 22px;
padding-right: 195px;
padding-top: 8px;
padding-bottom: 8px;
border: #090948;
}
.m{
margin-bottom: 0;
background-color: #090948;
border-radius: 12px;
border: 1px solid ;
color: white;
margin-left: 13px;
padding-right: 290px;
padding-top: 8px;
padding-bottom: 8px;
border: #090948;
}

/* -----------------------------------------------section-FAQ------------------------------------------------ */

#FAQ{
max-width: 1200px;
margin: 0 auto;
}
.faq{
display: flex;
margin: 20px;

}
.faq-service{
display: flex;
justify-content: space-between;
align-items: center;
margin-left: 170px;
margin-right: 0px;
font-size: large;

}
.faq-service img{
margin-top: 10px;
margin-left: 430px;
justify-content: space-between;
height: 35px; 
width: 35px; 
border: 1px solid rgb(213, 210, 210);
border-radius: 100%;
padding: 10px;
background-color: #faf8f8d8;
}


.hrs{
margin-left: 170px;
margin-top: 10px;
margin-right: 0px;
display: flex;
justify-content: space-between;
align-items: center;
}
.faq-service hr{
margin-top: 15px;
margin-right: 30px;
height: 1px;
background-color: #d8d8d8d8;
border: none;
}


.faq-tag{
margin-top: 44px;
margin-left: -10px;
font-size: .8rem;
}
.faq-heading{
margin-left: 105px;
width: 30%;
margin-bottom: 0px;
margin-top: 20px;
font-size: 26px;

}


/* --------------------------------------------section partner--------------------------------------------------- */

.partner{
display: flex;
margin: 10px;
margin-top: 100px;
margin-left: 0px;
max-width: 1200px;
margin: 0 auto;
}

.part-heading{
margin-top: 13px;
margin-left: 45px;
width: 25%;
justify-content: center;
text-align: center;
font-size: 1.5rem;
}
.partner-image img{
border: 1px solid gray;
border-radius: 100%;
height: 165px;
width: 165px;
margin: 5px;
background-color: rgb(241, 246, 246);
padding-left: 25px;
padding-top: 25px;
padding-bottom: 25px;
padding-right: 25px;
margin-left: 30px;

}
.partner-image{
display: flex;
justify-content: center;
margin-top: 50px;
margin-left: -30px;
}
.part-tag{
margin-left: 10px;
margin-top: 30px;
font-weight: normal;
font-size: .9rem;
}

/* -----------------------------------------------section-Blog---------------------------------------------- */

#Blog{
max-width: 1200px;
margin: 0 auto;
margin-bottom: 50px;
}
.blog{
display: flex;
margin: 10px;
margin-top: 100px;

}

.blog-arrow img{
height: 60px;
margin-top: 25px;
border-radius: 100%;
border: 1px solid rgb(195, 195, 195);
background-color: #f8f6f6d8;
margin-left: -10px;


}
.blog-arrow{
padding: 20px;
display: flex;
margin-top: -15px;
margin-left: 560px;
  
}

.img-blog{
margin-left: 20px;
image-orientation: from-image;

}
.blog-tag{
margin-top: 12px;
margin-left: 5px;
font-size: .9rem;
font-weight: normal;
}
.blog-heading{
margin-left: 115px;
width: 25%;
margin-top: 15;
/* justify-content: center; */
/* text-align: center; */
font-size: 1.4rem;
}

.blog-lower{
display: flex;
margin-left: 0px;
margin-top: 30px;
justify-content: center;
margin-left: -75px;

}
.blog-lower img{
height: 250px;
background-color: rgb(243, 245, 246);
width: 390px;


}
.ims{
margin-left: 115px;
height: 0px;
width: 370px;
}
.ims img{
height: 250px;
width: 580px;

}


.blog-img{
width: 290px;
margin-left: px;
}



.blog-lower button{
border: .01px solid rgb(224, 223, 223);
color: black;
font-size: 15px;
font-weight: bold;
border-radius: 19px;
background-color: rgb(249, 249, 249);
/* height: 20px; */
display: inline-flex;
justify-content: center;
align-items: center;
margin-top: 20px;
margin-right: 10px; 
padding-right: 27px;
padding-bottom: 10px;
padding-top: 10px;
padding-left: 27px;
}


/* -------------------------------------------------------section-contact---------------------------------------------- */

#contact{
background-color: rgb(45, 55, 113);
padding-bottom: 20px;


}
.up-arr{
height: 60px;
width: 60px;
border: 1px solid white;
border-radius: 100%;
background-color: rgb(13, 13, 91);
display: inline-flex;
align-items: center;
justify-content: center;   
margin-right: -80px;
}
.contact{
display: flex;
justify-content: space-around;
align-items: center;
padding: 20px;
/* margin-left: 490px; */
max-width: 1200px;
margin: 0 auto;
}
.contact h2 {
margin-left: -280px;
margin-top: -65px;
color: white;
font-size: 1.9rem;

}
.contact p{
margin-left: -279px;
margin-top: -18px;
color: white;
font-size: large;
}
.ear-img{
margin-top: 2;
margin-left: -355px;
height: 70px;
}
.up-arr {
/* margin-left: 120; */
margin-right: -300px;
margin-top: 10px;



}


.contact-middle{
display: flex;
margin-top: 30px;
max-width: 1200px;
margin: 0 auto;
/* margin-left: 330px; */
justify-content: center;

}
.about-contact{
margin-left: 80px;

}
.self-contact{
margin-bottom: 15px;
font-size: large;
font-weight: bold;
color:white;
margin-left: -90px;
}

.contact-name{
border: 1px solid #090948;
border-radius: 25px;
padding-right: 8px;
padding-left: 13px;
padding-top: 4px;
padding-bottom: 4px;
color: aliceblue;
background-color: #090948;
font-size: large;
display: inline-flex;
justify-content: center;
align-items: center;
margin-left: -100px;
}
.contact-num{
border: 1px solid #090948;
border-radius: 29px;
padding-right: 8px;
padding-left: 8px;
padding-top: 4px;
padding-bottom: 4px;
color: aliceblue;
background-color: #090948;
font-size: small;
display: inline-flex;
justify-content: center;
align-items: center;
margin-left: 22px;
margin-top: 35px;

}

.contact-date{
border: 1px solid #090948;
border-radius: 28px;
padding-right: 9px;
padding-left: 8px;
padding-top: 17px;
padding-bottom: 17px;
color: aliceblue;
background-color: #090948;
font-size: large;
margin-left: -1px;
margin-top: 37px;
display: flex;
margin-left: -100px;

}
.contact-date p{
margin-bottom: -2px;
margin-top: -2px;
font-size: 20px;
margin-left: 258px;
font-weight: bold;
}
.contact-expert{
border: 1px solid #090948;
border-radius: 27px;
padding-right: 19px;
padding-left: 12px;
padding-top: 15px;
padding-bottom: 15px;
color: aliceblue;
background-color: #090948;
font-size: large;
margin-left: 20px;
margin-top: 36px;
display: flex;
}
.contact-expert p{
margin-bottom: -2px;
margin-top: -2px;
font-size: 20px;
margin-left: 258px;
font-weight: bold;
}
.time{
border: 1px solid #090948;
border-radius: 17px;
padding-right: 47px;
padding-left: 14px;
padding-top: 4px;
padding-bottom: 4px;
color: aliceblue;
background-color: #090948;
font-size: small;
display: inline-flex;
justify-content: center;
align-items: center;
margin-left: 22px;
margin-top: 31px;

}
.submits{
border: 1px solid white;
border-radius: 25px;
padding-left: 36px;
padding-top: 12px;
padding-bottom: 12px;
color: #090948;
background-color: #090948;
font-size: small;
margin-top: 40px;
margin-right: 320px;  
margin-left: -95px;
}
.submits button{
background-color: #090948;
border: #090948;
margin-left: 35px;

}

.ns{
margin-bottom: 0px;
background-color: #090948;
border-radius: 29px;
border: 1px solid;
color: white;
margin-left: 9px;
padding-right: 0px;
padding-top: 15px;
padding-bottom: 15px;
padding-right: 265px;
justify-content: space-between;
background-color: #090948;
color: #090948;
}
.ms{
margin-bottom: 0;
background-color: #090948;
border-radius: 24px;
border: 1px solid ;
color: #090948;
margin-left: 40px;
padding-top: 16px;
padding-bottom: 16px;
padding-right: 295px;
}
.contact-image img{
height: 30px;
width: 30px;
border-radius: 100%;
align-items: center;
background-color: white;
display: inline-flex;
justify-content: center;
border: 1px solid gray;
margin-left: 10px;
float: right;
}
.contact-image{
display: flex;
margin-left: -15px;
margin-top: 30px;
justify-content: right;
}

.contact-lower{
display: flex;
width: 75%;
color: white;
max-width: 1200px;
margin: 0 auto;
margin-top: 80px;
justify-content: space-between;
font-size: x-large;

}
.lower-cont{
display: flex;
margin-top: 10px;
}
.lower-cont img{
margin-top: 11px;
margin-left: -5px;


}
.lower-cont h5{
margin-left: 7px;
margin-top: 16px;


}
#cont-last img{
margin-left: px;
float: right;
display: block;
justify-items: right;
}

.cont-last{
margin-left: 10px;
}
.cont-last p{
margin-top: 48px;
}
.contact-image p{
margin-top: 30px;
}

